.work-section{
  @include footer-margin;
  z-index: 10000;
  padding-top: 5em;
  padding-bottom: 7em;
  .fixed &{
    padding-top: 8.5em;
  }
  @include width-below ($medium-width){
    padding-top: 4em;
    padding-bottom: 6em;
    .fixed &{
      padding-top: 7.5em;
    }
  }
}

.work-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -$short;
  margin-right: -$short;
  & > li{
  flex: 1 0 33.3%;
  box-sizing: border-box;
  padding: $short;
  max-width: 33.3%;
  @include width-below ($large-width){
    flex: 1 0 50%;
    max-width: 50%;
  }
  @include width-below ($small-width){
    flex: 1 0 100%;
    max-width: 100%;
  }
  }
  /*
columns: 2;
  -moz-columns: 2;
  -moz-column-gap: $long;
  column-gap: $long;
  column-fill: balance;
  & > li{
    display: inline-block;
    margin-bottom: 1.75em;
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
  }
  @include width-above ($large-width){
    columns: 3;
    -moz-columns: 3;
    column-gap: $long;
  }
  @include width-below ($small-width){
    columns: 1;
    -moz-columns: 1;
    & > li{
      display: block;  
      margin-bottom: 3em;
    }
  }
*/
}

@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
@-webkit-keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}
@-webkit-keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}

.work-link{
  position: relative;
  display: block;
  text-decoration: none;
  &:hover{
    cursor: url(../images/cross.png), pointer;
    @include width-above ($small-width){
      .work-list-text-area{
        opacity: 1;
      }
      .work-thumbnail-image{
        opacity: .1;
      }  
    }
  }
  &.coming-soon{
    cursor: url(../images/coming-soon.png), pointer;
  }
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-moz-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.work-thumbnail-image{
  width: 100%;
  @include transition-mid;
}

.work-list-text-area{
  text-align: center;
  padding: $short;
	@include width-above ($small-width){
  	@include transition-mid;
    top: 58%;
  	transform: translateY(-50%);
    position: absolute;
    right: 0; 
    left: 0;
    bottom: 0;
    opacity: 0;
	}
	@include width-below ($small-width){
    border: 1px solid $lightest-gray;
    border-top: none;
    margin-top: -3px;
  }
  &.visible{
    opacity: 1;
    border: none;
  }
}

.work-list-title{
  display: block;
  @include playfair-bold;
  margin-bottom: $shorter;
  font-size: 1.5em;
  color: $dark-gray;
  @include width-below ($medium-small-width){
    font-size: 1em;
    line-height: 1.1em;
  }
}

.work-list-subtitle{
  @include small-uppercase-treatment;
  color: $dark-gray;
  @include width-below ($medium-small-width){
    font-size: .5em;
  }
}

.filter-list{
  margin-bottom: $long;
  font-size: .9em;
  & > li{
    display: inline-block;
    & + li{
      margin-left: $long;
    }
  }
  @include width-below ($medium-small-width){
    display: none;
  }
}

.filter-label{
  @include small-uppercase-treatment;
  padding-top: 3px;
  padding-left: 0 !important;
  position: relative;
  &:hover{
    &:after{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  &:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: 2px;
    z-index: -1;
    left: 0;
    right: 0;
    @include background-theme;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }
}