.footer{
  background: $dark-gray;
  padding: 4.25em 0 3.75em;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: $overflow-width;
  margin: 0 auto;
  z-index: -1;
  .fixed &{
    z-index: 10;
  }
  & > .extra-large-inner-wrap{
    @include width-above ($medium-width + 5em){
      justify-content: space-between;
      display: flex;
    }
    @include width-below ($medium-width){
    }
    
  }
}

.social-link-list {
  display: inline-block;
  vertical-align: middle;
  @include width-below ($medium-width + 5em){
    display: block;
    text-align: center;
    margin: 1em auto 0;
    width: 100%;
  }
  & > li {
    display: inline-block;
    padding: 0 .4em;
    @include width-below ($medium-width + 5em){
      padding: 0 .1em;
    }
    @include width-above ($medium-width + 5em){
      &:last-child{
        padding-right: 0;
      }
    }
    & + li{
      &:before{
        content: "/";
        color: white;
        padding-right: 1.15em;
        @include width-below ($medium-width + 5em){
          padding-right: .5em;  
        }
      }
    }
  }
}

.social-link {
  text-decoration: none;
  position: relative;
  color: white;
  @include small-uppercase-treatment;
  display: inline-block;
  @include transition-fast;
  &:hover{
    @include text-theme;
  }
  @include width-below ($medium-small-width){
    font-size: .625em;
  }
}

.footer-text-wrapper{
  display: inline-block;
  vertical-align: middle;
  color: white;
  @include width-below ($medium-width + 5em){
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}

.made-with-text{
  display: block;
  margin-bottom: .25em;
  @include small-uppercase-treatment;
  font-weight: 700;
}

#copyright-text {
  font-size: .6em;
  letter-spacing: 1px;
  @include open-sans;
}

.love-link{
  color: white;
  text-decoration: none;
  &:hover{
    @include text-theme;
  }
}