/**
 * Featherlight - ultra slim jQuery lightbox
 * Version 1.5.0 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2016, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/

@media all {
    .featherlight {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2147483647;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        background: rgba(34,34,34,.8);
    }
    .featherlight:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -.25em;
    }
    .featherlight .featherlight-content {
        position: relative;
        text-align: left;
        vertical-align: middle;
        display: inline-block;
        overflow: auto;
        padding: 26px 26px 0;
        border-bottom: 26px solid transparent;
        margin-left: 5%;
        margin-right: 5%;
        max-height: 95%;
        background: #fff;
        cursor: auto;
        white-space: normal;
    }
    .featherlight .featherlight-inner {
        display: block;
    }
    .featherlight .featherlight-close-icon {
        position: absolute;
        z-index: 9999;
        top: 0;
        right: 0;
        line-height: 25px;
        width: 25px;
        cursor: pointer;
        text-align: center;
        font-family: Arial, sans-serif;
        background: #fff;
        background: rgba(255, 255, 255, .3);
        color: $dark-gray;
        @include transition-fast;
        &:hover{
          @include text-theme;
        }
    }
    .featherlight .featherlight-image {
        width: 100%;
        max-height: 80vh;
    }
    .featherlight-iframe .featherlight-content {
        border-bottom: 0;
        padding: 0;
    }
    .featherlight iframe {
        border: 0;
    }
    .featherlight * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

@media only screen and (max-width:1024px) {
    .featherlight .featherlight-content {
        margin-left: 10px;
        margin-right: 10px;
        max-height: 98%;
        padding: 10px 10px 0;
        border-bottom: 10px solid transparent;
    }
}

.featherlight-next{
  position: absolute;
  right: 0;
  bottom: 45%;
  cursor: pointer;
  background: white;
  @include small-uppercase-treatment;
  padding: $short 0 $shorter;
  &:before{
    font-family: icomoon;
      content: $icon-next;
      @include transition-fast;
      font-size: 1.5em;
    }
    &:hover{
      &:before{
        @include text-theme;
      }
    }
}

.featherlight-previous{
  position: absolute;
  left: 0;
  bottom: 45%;
  cursor: pointer;
  background: white;
  @include small-uppercase-treatment;
  padding: $short $shortest $shorter;
  &:before{
    font-family: icomoon;
      content: $icon-back;
      @include transition-fast;
      font-size: 1.5em;
    }
    &:hover{
      &:before{
        @include text-theme;
      }
    }
}