ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*, *:before, *:after{
  box-sizing: border-box;
}

button, a{
  &:focus{
    outline: none;
    }
}

body {
  margin: 0;
  font-size: 1em;
  @include width-below ($medium-width){
    font-size: .85em;
  }
}

.overflow-wrap {
  position: relative;
  overflow: hidden;
  background: $dark-gray;
  color: $dark-gray;
  @include playfair;
}

.transform-wrap {
  position: relative;
  margin: 0 auto;
  background: white;
  max-width: $overflow-width;
  min-height: 100vh;
}

section{
  margin: 0 auto;
  background: white;
  position: relative;
  z-index: 100;
}

img{
  max-width: 100%;
}

@mixin large-center-margin-wrap{
  max-width: $large-width;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
  padding-right: 1em;
  padding-left: 1em;
}

@mixin medium-center-margin-wrap{
  max-width: $medium-large-width;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
  padding-right: 1em;
  padding-left: 1em;
}

@mixin medium-small-center-margin-wrap{
  max-width: $medium-width;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
  padding-right: 1em;
  padding-left: 1em;
}

@mixin extra-large-center-margin-wrap{
  max-width: $extra-large-width;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
  padding-right: 1em;
  padding-left: 1em;
}

.error-section{
  padding-top: 10em;
  text-align: center;
}

.large-inner-wrap{
  @include large-center-margin-wrap;
  & + .large-inner-wrap{
    margin-top: $longer;
  }
}

.medium-inner-wrap{
  @include medium-center-margin-wrap;
}

.medium-small-inner-wrap{
  @include medium-small-center-margin-wrap;
}

.extra-large-inner-wrap{
  @include extra-large-center-margin-wrap;
}

.borders{
  //@include background-theme;
  background: $dark-gray;
  position: fixed;
  z-index: 100000;
}

#border-top{
  top: 0;
  width: 100%;
  height: 5px;
}

#border-bottom{
  bottom: 0;
  width: 100%;
  height: 5px;
}

#border-right{
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
}

#border-left{
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
}

@mixin footer-margin{
  margin-bottom: 9.75em;
  @include width-below ($medium-width){
    margin-bottom: 12.5em;
  }
}

::-moz-selection { /* Code for Firefox */
    @include background-theme;
}

::selection {
    @include background-theme;
}

.cover-letter-section{
  @include footer-margin;
    padding-top: 10em;
    @include width-below ($medium-small-width){
      padding-top: 6em;
    }
  & .main-copy{
    max-width: $medium-width;
    & a{
      text-decoration: none;
      color: $dark-gray;
      position: relative;
      @include playfair-bold;
      &:hover{
        &:after{
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
      &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 6px;
        bottom: 2px;
        left: 0;
        @include background-theme;
        mix-blend-mode: multiply;
        z-index: -1;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
      }
    }
  }
}