.work-detail-section{
  @include footer-margin;
  padding-top: 10em;
  @include width-below ($medium-small-width){
    padding-top: 6em;
  }
}

.project-detail-list{
  margin-top: 3em;
  & > li{
    display: inline-block;
    width: 32%;
    vertical-align: top;
    & + li{
      padding-left: $short;
    }
  }
  @include width-below ($medium-small-width){
    & > li{
      width: 100%;
      display: block;
      & + li{
        margin-top: $long;
        padding-left: 0;
      }
    }
  }
}

.project-detail{
  display: block;
  font-size: 1em;
  color: $dark-gray;
  @include open-sans;
  font-size: .75em;
  letter-spacing: .5px;
}

.project-detail-link-wrap{
  display: block;
  margin-top: -.25em;
}

.project-detail-link{
  text-decoration: none;
  position: relative;
  color: $dark-gray;
  @include open-sans;
  font-size: .75em;
  letter-spacing: .5px;
  display: inline-block;
  &:hover{
    &:after{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  &:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: 2px;
    left: 0;
    @include background-theme;
    mix-blend-mode: multiply;
    z-index: -1;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }
}

.main-copy{
  padding-top: 5em;
  padding-bottom: $longest;
  &.no-bottom-padding{
    padding-bottom: 0;
  }
  @include width-below ($medium-small-width){
      padding-top: $longer;
    }
  & img{
    //width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    & + *{
      margin-top: $longer;
    }
    & + img{
      margin-top: 0;
    }
  }
  & .caption{
    display: block;
    text-align: center;
    margin-top: $short;
    @include open-sans-light;
    font-size: .75em;
    letter-spacing: .5px;
    & + *{
      margin-top: $longer;
    }
  }
  & .two-column-text{
    font-size: 1em;
    & + img{
      margin-top: $longer;
    }
    & > p:first-child{
      margin-top: 0;
    }
  }
  & p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
    line-height: 1.7em;
    * + &{
      margin-top: $longer;
    }
    & + p{
      margin-top: $short;
    }
    & + .small-title{
      margin-top: $longer;
    }
  }
  & .small-title{
    & + p{
      margin-top: 0;
    }
  }
  & .last-image{
    margin-bottom: -8.25em;
  }
  & .large-inner-wrap{
    & + .medium-small-inner-wrap{
      margin-top: $longer;
    }
    & + img{
      margin-top: $longer;
    }
    & img + img{
      margin-top: $longer;
    }
  }
  & .medium-small-inner-wrap{
    & + img{
      margin-top: $longer;
    }
  }
}

.project-image{
  text-align: center;
  margin: 0 auto;
  display: block;
}

.scroll-top-link{
  text-decoration: none;
  @include small-uppercase-treatment;
  color: $dark-gray;
  position: absolute;
  right: $long;
  bottom: $longer;
  &:hover{
    &:after{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  &:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: 0px;
    left: 0;
    z-index: -1;
    @include background-theme;
    mix-blend-mode: multiply;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }
  @include width-below ($large-width){
    bottom: $short;
  }
}

.go-home-link{
  @include small-uppercase-treatment;
  color: $dark-gray;
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin-bottom: $long;
  font-size: .6em;
  &:hover{
    &:after{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  &:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: 0px;
    left: 0;
    z-index: -1;
    @include background-theme;
    mix-blend-mode: multiply;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }
}

.arrow-wrap{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  max-width: $overflow-width;
  margin: 0 auto;
  @include width-below ($large-width){
    position: relative;
    right: auto;
    left: auto;
    height: 2.75em;
  }
}

.pagination-link{
  text-decoration: none;
  @include small-uppercase-treatment;
  color: $dark-gray;
  position: absolute;
  background: white;
  width: 3.5em;
  height: 3.5em;
  &:hover{
    &:before{
      @include text-theme;
    }
  }
  &:before{
    font-family: icomoon;
    position: absolute;
    font-size: 2em;
    @include transition-fast;
    top: .55em;
    left: .35em;
  }
  &.next{
    right: 5px;  
    &:before{
      content: $icon-next;
    }
    @include width-below ($large-width){
      left: 3.95em;    
    }
  }
  &.prev{
    left: 5px;
    &:before{
      content: $icon-back;
    }
  }
  bottom: 50vh;
  @include width-below ($large-width){
    bottom: 0;
  }
}

@function reverse-direction ( $direction ) {
  @if ( $direction == left ) {
    @return right;
  }
  @if ( $direction == right ) {
    @return left;
  }
  @if ( $direction == top ) {
    @return bottom;
  }
  @if ( $direction == bottom ) {
    @return top;
  }
  @return null;
}

@mixin grid-list ( $align: null, $gap: 1em ) {
  margin-left: -$gap / 2;
  margin-right: -$gap / 2;
  @if ( $align != null ) {
    text-align: $align;
  }
}

@mixin grid-list-item ( $align: left, $negate-space: 5px, $gap: 1em, $vertical-align: top, $content-align: null ) {
  display: inline-block;
  vertical-align: $vertical-align;
  padding-left: $gap / 2;
  padding-right: $gap / 2;
  @if ( $align == center ) {
    margin-left: -$negate-space;
    margin-right: -$negate-space;
  } @else {
    margin-#{ reverse-direction($align) }: -$negate-space;
  }
  @if ( $content-align != null ) {
    text-align: $content-align;
  }
}

@mixin grid-list-selectors ( $main-viewport, $copy-viewport ) {
  $grid-item-selector: 'li' !global;
  $grid-item-viewport: $main-viewport !global;
  @content;
  $grid-item-selector: '.grid-cell' !global;
  $grid-item-viewport: $copy-viewport !global;
  @content;
}

.three-column-grid {
  text-align: left;
  padding-bottom: 10em;
  @include grid-list-selectors ( $main-viewport: $medium-width, $copy-viewport: $medium-width) {
    & > #{$grid-item-selector} {
      @include width-below ( $medium-width ) {
        & + #{$grid-item-selector} {
          margin-top: $long;
        }
      }
      @include width-above ( $medium-width ) {
        @include grid-list-item ( $gap: $long );
      }
      @include width-above ( $medium-width ) {
        width: 33.3%;
        & + #{$grid-item-selector} + #{$grid-item-selector} + #{$grid-item-selector} {
          margin-top: $long;
        }
      }
    }
    @include width-above ( $medium-width ) {
      @include grid-list ( $gap: $long );
    }
  }
}

.gallery-item{
  border: 1px solid $lightest-gray;
  display: block;
  &:hover{
    cursor: url(../images/cross.png), pointer;
  }
  & img{
    margin-bottom: -5px;
  }
}

.iframe{
  width: 92%;
  box-shadow: 0px 0px 10px 0px rgba(150,150,150,1);
  border: none;
  display: block;
  text-align: center;
  height: 40em;
  margin: $longer auto 0;
}