%large-checkable-field {
  display: none;
}

%large-checkable-field-label {
  position: relative;
  line-height: 1.1em;
  font-size: .9em;
}

%large-entry-field {
  padding: 1em .5em .65em .5em;
  border: 1px solid $dark-gray;
  width: 100%;
  font-size: .9em;
  @include playfair-bold;
  cursor: pointer;
-webkit-border-radius: 0;
  -webkit-appearance: none;
  @include fast-transition-on-property(border);
  &:focus{
    @include border-theme;
  }
  &:hover{
    @include border-theme;
  }
}

%large-single-line-text-field {
  @extend %large-entry-field;
  outline: none;
  
}

%large-multi-line-text-field {
  @extend %large-entry-field;
  height: 12em;
  outline: none;
  padding-right: 3.75em;
  padding-bottom: 1em;
}

.form-section{
  & > .large-inner-wrap{
    padding-top: 10em;
    padding-bottom: 10em;
    @include width-below ($medium-small-width){
      padding-top: 6em;
      padding-bottom: 6em;
    }
  }
  @include footer-margin;
}

.form-section-center-margin-wrap{
  width: 60%;
	display: inline-block;
	margin-top: 3.5em;
	@include width-below ($medium-width){
  	width: 100%;
	}
}

.form-image{
  display: inline-block;
  width: 39%;
  vertical-align: top;
  margin-top: $longer;
  padding-left: $long;
  @include width-below ($medium-width){
    width: 100%;
    padding-left: 0;
  }
}

.form-snippet {
  padding-bottom: 0;
  &.fade{
  	opacity: .1;
  	pointer-events: none;
	}
	
}

.form-section-required-note {
  display: block;
  font-size: .8em;
}

.field-list {
  margin-left: -1em;
  margin-top: -1.5em;
  vertical-align: top;
  box-sizing: border-box;
  & > li {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-top: 1.3em;
    padding-left: 1em;
    &.half-width{
      width: 49.6%;
      @include width-below ($medium-small-width){
        width: 100%;
      }
    }
  }
}

.field-label {
  display: block;
  position: absolute; 
  top: 1.05em;
  left: 1.5em;
  padding-left: .5em;
  pointer-events: none;
  font-size: .8em;
  @include fast-transition-on-property (all);
  .is-active, .is-completed &{
    font-size: .7em;
    top: -.65em;
    left: 2em;
    background: white;
    padding: 0 .25em;
  }
  &.small-label{
    top: -.5em;
    left: .75em;
    &.error{
      color: $red;
    }
  }
  .invalid > & {
  }
  .required > &:after {
    content: "*";
  }
  &.message{
    //top: .5em;
    //width: 100%;
  }
  .fade &{
    cursor: default !important;
  }
}

.text-field {
  @extend %large-single-line-text-field;
    width: 100%;
    .fade &{
    cursor: default !important;
  }
.fade &{
    cursor: default !important;
  }
}

.message-field {
  @extend %large-multi-line-text-field;
  .fade &{
    cursor: default !important;
  }
  @include width-below ($small-width - 5em){
    padding-top: 2em;
  }
}

.form-action-list {
  text-align: right;
  margin-top: 1em;
  & > li {
    position: relative;
  }
}

.form-action-state {
  position: relative;
}

.form-action-button {
  background: none;
  border: none;
  font-size: 1.75em;
  margin-top: $shortest;
  @include fast-transition-on-property (all);
  position: relative;
  @include playfair-bold;
  padding:0;
  &:hover{
    &:after{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  &:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 3px;
    left: 0;
    z-index: -1;
    @include background-theme;
    mix-blend-mode: multiply;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }
  &.disabled{
    background: $light-gray;
    color: darken($light-gray, 10%);
    border: $light-gray;
    pointer-events: none;
  }
}

.form-action-validation-message {
  font-size: .75em;
  display: none;
  &.visible{
    display: block;
    position: absolute;
    top: 5em;
    right: 0;
    left: 0;
    text-align: center;
    color: $red;
  }
}

input.error, textarea.error{
  border: 1px solid $red;
  &:focus{
    border: 1px solid $red;
  }
}

@mixin form-message{
  display: none;
  &.visible{
    & .large-message{
      display:block;
      font-size: 2em;
      line-height: 1.5em;
      margin-bottom: $short;
      padding-top: 40vh;
      @include playfair-bold;
    }
    & .small-message{
      display: block;
      margin-top: .5em;
    }
    display:block;
    position:fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
    padding: $shorter;
    & a{
      text-decoration: none;
      position: relative;
      @include playfair-bold;
      color: $dark-gray;
      &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 6px;
        bottom: 3px;
        left: 0;
        z-index: -1;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
      }
      &:hover{
        &:after{
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }
  }  
}

.success-message{
  @include form-message;
  &.visible{
    @include background-theme;
  }
}
      
.error-message{
  @include form-message;
  &.visible{
    @include background-theme;
  }
}

.form-check-input-list{
  margin-top: $shorter;
  & > li{
    margin-top: 1em;
    display: inline-block;
    width: 49.5%;
    vertical-align: top;
    @include width-below ($medium-small-width){
      width: 100%;
      display: block;
    }
  }
  @include width-below ($medium-width){
      margin-top: 1.5em;
    }
}

.form-check-label{
  @extend %large-checkable-field-label;
}


[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: block;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✘';
  position: absolute;
  top: 1px; left: 3px;
  font-size: 18px;
  line-height: 0.8;
  @include text-theme;
  transition: all .2s;
}

.category:not(:checked) + label:after,
.category:checked + label:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: 0px;
  z-index: -1;
  left: 0;
  right: 0;
  top: auto;
  @include background-theme;
  mix-blend-mode: multiply;
  visibility: visible;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.form-close-button{
  display: block;
  width: 2em;
  text-align: center;
  margin: $long auto 0;
    transform: rotate(360deg);
    @include transition-slow;
  &:before{
    content: $icon-cancel;
    font-family: icomoon;
  }
  &:hover{
    transform: rotate(0deg);
  }
}