.about-intro-section{
  
  & > .large-inner-wrap{
    padding-top: 10em;
    @include width-below ($medium-small-width){
      padding-top: 6em;
    }
  }
  & br{
    display: none;
  }
}

.introduction-text{
  font-size: 3.3em;
  @include playfair-bold;
  line-height: 1.3em;
  display: block;
  margin-bottom: .8em;
  @include width-below ($medium-width){
    font-size: 3em;
    line-height: 1.15em;
  }
}

.introduction-text-link{
  color: $dark-gray;
  text-decoration: none;
  position: relative;
  display: inline-block;
  &:hover{
    cursor: url(../images/cross.png), pointer;
  }
  &:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 8px;
    left: 0;
    z-index: -1;
    @include background-theme;
    mix-blend-mode: multiply;
    @include width-below ($medium-width){
      bottom: 5px;
    }
  }
}

.small-title{
  @include small-uppercase-treatment;
  color: $light-gray;
  position: relative;
  text-decoration: none;
  margin-bottom: $short;
  display: inline-block;
  &:after{
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    right: -30px;
    top: 7px;
    background: $light-gray;
  }
}

a.small-title{
  @include transition-fast;
  &:hover{
    @include text-theme;
  }
}

.about-small-text{
  max-width: 50em;
  margin-left: 0;
}

.two-column-text{
  font-size: 1.125em;
  line-height: 1.7em;
  @include width-above ($medium-small-width){
    columns: 2;
  -moz-columns: 2;
  -moz-column-gap: $long;
  column-gap: $long;  
  }
  & p{
    margin-top: 0;
    &:last-child{
      margin-bottom: 0;
    }
  }
  & a{
    text-decoration: none;
    color: $dark-gray;
    position: relative;
    @include playfair-bold;
    &:hover{
      &:after{
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 6px;
      bottom: 2px;
      left: 0;
      @include background-theme;
      mix-blend-mode: multiply;
      z-index: -1;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
    }
  }
}

.gr_custom_header_1480370687{
  display: none;
}

.gr_custom_title_1480370687, .gr_custom_author_1480370687{
  & > a{
    text-decoration: none;
    color: $dark-gray;  
    pointer-events: none;
  }
}

.gr_custom_title_1480370687{
  line-height: 1.25em;
  
}

.gr_custom_author_1480370687{
  margin-top: $shortest;
  & > a{
    background: white;
    margin-left: -1.27em;
    position: relative;
  }
}

center{
  display: none;
}

.status-section{
  padding-top: $longer;
}

.status-list{
  & > li{
    display: inline-block;
    vertical-align: top;
    width: 28%;
    position: relative;
    padding-right: $short;
    &:last-child{
      width: 42.5%;
      padding-right: 0;
    }
    @include width-below ($medium-width){
      width: 49%;
      &:nth-child(2){
        padding-right: 0;
      }
      &:last-child{
        margin-top: $long;
        width: 100%;
      }
    }
    &:before{
      position: absolute;
      font-family: icomoon;
      top: 1.5em;
      left: 0;
      font-size: 1.35em;
      @include text-theme;
    }
    &.listen{
      &:before{
        content: $icon-listen;
        top: 1.75em;
      }
    }
    &.read{
      &:before{
        font-family: icomoon;
        content: $icon-read;
      }
    }
  }
}

.status-main-heading{
  line-height: 1.35em;
  padding-left: 1.25em;
  & + *{
    margin-bottom: $shortest;  
  }
}

.status-second-heading{
  padding-left: 1.25em;
  margin-top: $shortest;
}

.listen-link{
  text-decoration: none;
}

.gr_custom_each_container_1480370687{
  padding-left: 1.75em;
}

#twitter-widget-0{
  margin-left: -.5em;
  margin-top: -.4em !important;
}

$base-line-height: 8px;
$pulse-duration: 900ms;

@keyframes pulse {	
  50% { 
    background: $light-gray;
  } 
}


.loading-pulse {
  width: ($base-line-height / 4);
  height: $base-line-height;
  animation: pulse $pulse-duration infinite;
  animation-delay: ($pulse-duration / 3);
  position: absolute;
    top: 1.65em;
    left: .35em;
    @include background-theme;
  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    height: ($base-line-height / 1.5);
    width: ($base-line-height / 4);
    top: 50%;
    transform: translateY(-50%);
    animation: pulse $pulse-duration infinite;
  }
  &:before {
    left: -($base-line-height / 2);
  }
  &:after {
    left: ($base-line-height / 2);
    animation-delay: ($pulse-duration / 1.5);
  }
}