.quote-section{
  @include background-theme;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  max-width: $overflow-width;
  margin: 0 auto;
  .fixed &{
    z-index: -1;
  }
}

.quote-text-wrap{
  @include large-center-margin-wrap;
  padding-top: 9em;
  padding-bottom: 9em;
  padding-right: 1em;
  padding-left: 1em;
  @include width-below ($medium-width){
    padding-top: 4em;
    padding-bottom: 3em;
  }
}

.quote-text{
  font-size: 4.5em;
  @include playfair-bold;
  line-height: 1.1em;
  display: block;
  @include width-below ($medium-width){
    font-size: 3.75em;
  }
}

.quote-author{
  @include small-uppercase-treatment;
  display: block;
  margin-top: $longer;
  text-decoration: none;
  color: $dark-gray;
  position: relative;
  display: inline-block;
  /*
&:hover{
    cursor: url(../images/cross.png), pointer;
  }
*/
}

.main-nav{
  padding-top: $short;
  padding-bottom: $short;
  position: relative;
  z-index: 20000;
  max-width: $overflow-width;
  margin: 0 auto;
}

.subpage-nav{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background: white;
}

.home-nav{
  background: white;
  .fixed &{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
  }
}

.main-nav-link-list{
  display: inline-block;
  float: right;
  & > li{
    display: inline-block;
    & + li{
      margin-left: $long;
      @include width-below ($medium-width){
        margin-left: $short;
      }
    }
  }
}

.home-link{
  @include playfair-bold;
  text-decoration: none;
  color: $dark-gray;
  &:hover{
    cursor: url(../images/cross.png), pointer;
  }
}

.main-nav-link{
  text-decoration: none;
  color: $dark-gray;
  @include small-uppercase-treatment;
  font-weight: 700;
  position: relative;
  &:hover{
    &:after{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  &:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: 0px;
    z-index: -1;
    left: 0;
    @include background-theme;
    mix-blend-mode: multiply;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }
  &.current{
    &:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: 0px;
    left: 0;
    z-index: -1;
    @include background-theme;
    mix-blend-mode: multiply;
    visibility: visible;
    transform: scaleX(1);
  }
  }
}

.weather-date-wrap{
  @include extra-large-center-margin-wrap;
  padding-top: $shorter;
  position: relative;
  @include width-below ($medium-width){
    display: none;
  }
}

@font-face {
    font-family: 'artill_clean_weather_iconsRg';
    src: url('../fonts/artill_clean_icons-webfont.woff2') format('woff2'),
         url('../fonts/artill_clean_icons-webfont.woff') format('woff'),
         url('../fonts/artill_clean_icons-webfont.ttf') format('truetype'),
         url('../fonts/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

#weather{
  position: absolute;
  left: 1em;
  top: .4em;
  z-index: 200;
  @include width-below ($medium-large-width){
    position: relative;
    top: auto;
    left: auto;
    text-align: center;
  }
  & p{
    display: none;
  }
}

.temperature{
  @include small-uppercase-treatment;
  display: inline;
  position: relative;
  margin-left: 2.25em;
  
  & > i{
    font-family: 'artill_clean_weather_iconsRg';
    font-size: 2em;
    position: absolute;
    left: -1em;
    top: 0em;
  }
}

.weather-description{
  @include small-uppercase-treatment;
  display: inline;
  padding-left: .25em;
  @include width-below ($medium-large-width){
    display: inline-block;
  }
}

.weather-commentary{
  @include small-uppercase-treatment;
  display: block;
  margin-left: 2.25em;
  @include width-below ($medium-large-width){
    margin-left: 0;
  }
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }