@function is-gte-ie9( ) {
  @if ( $stylesheet-id == 'ie9' ) { @return true; }
  @if ( $stylesheet-id == 'standards' ) { @return true; }
  @return false;
}

@function is-standards( ) {
  @if ( $stylesheet-id == 'standards' ) { @return true; }
  @return false;
}

@mixin width-above ( $p-start ) {
  @if ( is-gte-ie9() ) {
    @media (min-width: $p-start) {
      @content;
    }
  } 
  
  @else {
    @content;
  }
}

@mixin width-below ( $p-start ) {
  @if ( is-gte-ie9() ) {
    @media (max-width: $p-start - 0.001em ) {
      @content;
    }
  }
}

@mixin width-between ( $p-start, $p-end ) {
  @if ( is-gte-ie9() ) {
    @media ( min-width: $p-start ) and (max-width: $p-end - 0.001em ) {
      @content;
    }
  }
}

@mixin internal-prefix-property-not-value ( $p-prop, $p-value... ) {
  #{$p-prop}: $p-value;
  -webkit-#{$p-prop}: $p-value;
  -o-#{$p-prop}: $p-value;
  -moz-#{$p-prop}: $p-value;
  -ms-#{$p-prop}: $p-value;
}

@mixin transition-property ( $p-value... ) {
  @if ( is-standards() ) {
    @include internal-prefix-property-not-value ( transition-property, $p-value );
  }
}

@mixin transition-timing-function ( $p-value... ) {
  @if ( is-standards() ) {
    @include internal-prefix-property-not-value ( transition-timing-function, $p-value );
  }
}

@mixin transition-duration ( $p-value... ) {
  @if ( is-standards() ) {
    @include internal-prefix-property-not-value ( transition-duration, $p-value );
  }
}

/**
 * Returns the value of $base to the power of $exponent
 *
 * @method exponent
 * @param {number} $base Control value that gets exponented up, can be any number
 * @param {number} $exponent Number that determines steepness of the curve, must be an integer
 * @for ( Sass functions )
 * @return {number} Scaled number value
 * @namespace thunder
 */
@function exponent($base, $exponent) {
  $value: $base;
  @if ( $exponent > 1 ) {
    @for $i from 2 through $exponent {
      $value: $value * $base;
    }
  }
  @else if ( $exponent < 0 ) {
    @for $i from 0 through -$exponent {
      $value: $value / $base;
    }
  } @else if ( $exponent == 0 ) {
    @return 1;
  }
  @return $value;
}

/**
 * Defines a number value given a scale at a single place, bigger base ratio and place result in bigger value
 *
 * @method modular-scale
 * @param {number with unit} $base Number to multiply the whole thing by, can be any number
 * @param {number} $ratio Determines how steep the curve will be, can be any number
 * @param {number} $place Position at which the scale is determined, must be an integer
 * @for ( Sass functions )
 * @return {number} Number value given a scale at a single place
 * @namespace thunder
 */
@function modular-scale ( $base, $ratio, $place ) {
  @return $base * exponent( $ratio, $place );
}

/**
 * Returns a scaled value for length depending on place
 *
 * @method get-scaled-length-at
 * @param {number} $place Must be an integer, bigger place results in an increasingly bigger value
 * @for ( Sass functions )
 * @return {number} Number value given a scale at a single place
 * @namespace thunder
 */
@function get-scaled-length-at ( $place ) {
  @return modular-scale( $length-scale-base, $length-scale-ratio, $place );
}

/**
 * Returns a scaled value for size depending on place
 *
 * @method get-scaled-size-at
 * @param {number} $place Must be an integer, bigger place results in an increasingly bigger value
 * @for ( Sass functions )
 * @return {number} Number value given a scale at a single place
 * @namespace thunder
 */
@function get-scaled-size-at ( $place ) {
  @return modular-scale( $size-scale-base, $size-scale-ratio, $place );
}

/**
 * Returns a scaled value for thickness depending on place
 *
 * @method get-scaled-thickness-at
 * @param {number} $place Must be an integer, bigger place results in an increasingly bigger value
 * @for ( Sass functions )
 * @return {number} Number value given a scale at a single place
 * @namespace thunder
 */
@function get-scaled-thickness-at ( $place ) {
  @return modular-scale( $thickness-scale-base, $thickness-scale-ratio, $place );
}
