@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e4b322');
  src:  url('fonts/icomoon.eot?e4b322#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?e4b322') format('truetype'),
    url('fonts/icomoon.woff?e4b322') format('woff'),
    url('fonts/icomoon.svg?e4b322#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$twitter: "\e900";

$facebook: "\e901";

$icon-play: "\e902";

$icon-pause: "\e903";

$icon-arrow: "\e904";

$soundcloud: "\e905";

$spotify: "\e906";


@function is-gte-ie9( ) {
  @if ( $stylesheet-id == 'ie9' ) { @return true; }
  @if ( $stylesheet-id == 'standards' ) { @return true; }
  @return false;
}

@function is-standards( ) {
  @if ( $stylesheet-id == 'standards' ) { @return true; }
  @return false;
}

@mixin width-above ( $p-start ) {
  @if ( is-gte-ie9() ) {
    @media (min-width: $p-start) {
      @content;
    }
  } 
  
  @else {
    @content;
  }
}

@mixin width-below ( $p-start ) {
  @if ( is-gte-ie9() ) {
    @media (max-width: $p-start - 0.001em ) {
      @content;
    }
  }
}


@mixin fast-transition{
  transition-duration: .1s;
  transition-timing-function: ease-in;
}

$stylesheet-id: 'standards';

$pink: #F8A6A6;

$medium-viewport: 60em;

$medium-small-viewport: 45em;

body{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: black;
  background: black;
  margin: 0;
  font-size: 1em;
  @include width-below ($medium-small-viewport){
    font-size: .8em;
  }
}

.overflow-wrap{
  max-width: 90em;
  margin: 0 auto;
  background: white;
}

img{
  max-width: 100%;
}

section{
  position: relative;
}

header{
  background-image: url(../images/sample/main-banner-pink.jpg);
  background-attachment: fixed;
  @include width-below ($medium-viewport){
    background-attachment: inherit;
  }
}

.header-image{
  margin: 0 auto -1px;
  display: block;
  @include width-below ($medium-viewport){
    display: none;
  }
}

.main-nav{
  background: white;
  padding: 1em;
  &.fixed{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
  }
  @include width-below ($medium-viewport){
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
  align-items: center;
    -webkit-justify-content: space-between; 
  justify-content: space-between;
  }
}

.main-nav-link-list{
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  & > li{
    display: inline-block;
    & + li{
      margin-left: 2em; 
    }
  }
  @include width-below ($medium-viewport){
    display: block;
    text-align: center;
    margin-top: 4em;
    & > li{
      display: block;
      & + li{
        margin-left: 0;
        margin-top: 2em;
      }
    }
  }
}

.mobile-menu-wrapper{
  display: flex;
  align-items: center;
    -webkit-justify-content: space-between; 
  justify-content: space-between; 
  @include width-below ($medium-viewport){
    display: none;
    opacity: 0;
    &.open {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: pink;
      opacity: 1;
    }
  }
}

.menu-button{
  @include width-above ($medium-viewport){
    display: none;
  }
  @include width-below ($medium-viewport){
    background: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
}

.close-button{
  @include width-above ($medium-viewport){
    display: none;
  }
  .open > &{
    display: block;
    position: absolute;
    right: 1.5em;
    top: 1.75em;
  }
  @include width-below ($medium-viewport){
    background: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: white;
  }
}

.social-links{
  display: inline-block;
  margin: 0;
  padding-left: 0;
  & > li{
    display: inline-block;
    & + li{
      margin-left: .5em;
    }
  }
  @include width-below ($medium-viewport){
    text-align: center;
    display: block;
    margin-top: 2em;
  }
}

.social-link{
  text-decoration: none;
  color: black;
  display: block;
  &:hover{
    &:before{
      color: $pink;
    }
  }
  &:before{
    font-family: icomoon;  
    font-size: 2em;
    @include fast-transition;
  }
  &.twitter{
    &:before{
      content: $twitter;  
    }
  }
  &.facebook{
    &:before{
      content: $facebook;  
    }
  }
  &.soundcloud{
    &:before{
      content: $soundcloud;  
    }
  }
  &.spotify{
    &:before{
      content: $spotify;  
    }
  }
}

.home-link{
  font-family: 'Abril Fatface', cursive;
  text-decoration: none;
  color: black;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.25em;
  @include fast-transition;
  &:hover{
    color: $pink;
  }
  &.desktop{
    @include width-above ($medium-viewport){
      display: none;
    }
  }
  &.mobile{
    @include width-below ($medium-viewport){
      display: none;
    }
  }
}

.main-nav-link{
  text-decoration: none;
    color: black;
    font-size: .875em;
    text-transform: uppercase;
    letter-spacing: .1em;
    position: relative;
    @include fast-transition;
    @include width-above ($medium-viewport){
      &:hover{
        &:after{
          transform-origin:  0% 50%;
          transform: scaleX(1);
        }
      }
    }
    &:after{
    display:block;
    content: '';
    border-bottom: solid 2px $pink;  
    transform: scaleX(0);  
    transition: transform .2s ease-in-out;
  }
}

.music-section{
  padding-top: 24em;
  background-image: url(../images/sample/main-banner.jpg);
  background-attachment: fixed;
  padding-bottom: 6em;
  background-size: cover;
  @include width-below ($medium-viewport){
    background-attachment: inherit;
    padding-bottom: 0;
  }
}

.audio-area{
  background: $pink;
  max-width: 28em;
  margin: 0 0 0 auto;
  padding: 3em 2em;
  @include width-below ($medium-viewport){
    max-width: none;
    padding: 1.5em 1em;
  }
}

.audio-button{
  display: inline-block;
  width: 6em;
  height: 6em;
  outline: none;
  border-radius: 10em;
  background: none;
  border: 3px solid white;
  margin-right: 1em;
  color: white;
  font-size: .725em;
  position: relative;
  vertical-align: middle;
  &:before{
    @include fast-transition;
  }
  &.paused{
    &:before{
      content: $icon-play;
      font-family: icomoon;
      font-size: 2.5em;
      position: absolute;
      top: .65em;
      left: .95em;
    }
  }
  &.playing{
    &:before{
      content: $icon-pause;
      font-size: 2em;
      font-family: icomoon;
      left: .95em;
      position: absolute;
      top: .9em;
      left: 1.1em;
    }
  }
  &:hover{
    &:before{
      transform: scale(1.1);
    }
  }
}

.audio-text{
  display: inline-block;
  vertical-align: middle;
  color: white;
  @include width-below ($medium-viewport){
    width: calc(100% - 7em);
  }
}

.upcoming-shows-section{
  background: black;
  color: white;
  padding: 6em 1em 8em;
  @include width-below ($medium-small-viewport){
    padding: 2em 1em 6em;
  }
}

.upcoming-shows-list{
  max-width: 45em;
  margin: 0 auto;
  @include width-below ($medium-small-viewport){
    padding-right: 1em;  
  }
  & > li{
    background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAP0lEQVQoU2NkQAP/////z8jIyIgujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J+A2YpPAJkaUiSCNAA8KKAUC14DBAAAAAElFTkSuQmCC
    );
  background-repeat: repeat-x;
  background-position: center bottom;
  padding: 3em 1em 4em;  
  
  @include width-above ($medium-small-viewport){
    align-items: center;
    -webkit-justify-content: space-between; 
    justify-content: space-between; 
    display: flex;
  }
  @include width-below ($medium-small-viewport){
    display: block;
    text-align: center;
  }
  }
}

.upcoming-shows-date{
  @include width-below ($medium-small-viewport){
    display: block;
  }
  @include width-above ($medium-small-viewport){
    display: inline-block;
  }
}

.venue-text{
  @include width-below ($medium-small-viewport){
    padding-bottom: .5em;
    padding-top: 1em;
    display: block;
  }
  @include width-above ($medium-small-viewport){
    display: inline-block;
    text-align: left;
    min-width: 16em;
  }
}

.about-section{
  padding: 10em 0 8em 1em;
  @include width-below ($medium-small-viewport){
    padding: 6em 1em 1em;
  }
}

.about-text{
  display: inline-block;
  width: 61%;
  vertical-align: top;
  padding-left: 12em;
  padding-right: 3.5em;
  z-index: 100;
  position: relative;
  box-sizing: border-box;
  & > .large-title{
    padding-bottom: 1em;
    display: block;
    position: relative;
  }
  & > .cta-link{
    margin-top: 1em;
    display: inline-block;
    margin-left: 2.625em;
  }
  & > .small-title{
    margin-left: 4em;
  }
  @include width-below ($medium-viewport){
    padding-left: 3em;
    & > .small-title{
      margin-left: 0;
    }
    & > .cta-link{
      margin-left: 0;
    }
  }
  @include width-below ($medium-small-viewport){
    width: 100%;
    display: block;
    padding-left: 3em;
    padding-right: 1em;
  }
}

.quotation{
  color: $pink;
  opacity: .3;
  font-size: 35em;
  position: absolute;
  font-family: 'Abril Fatface', cursive;
  top: -.15em;
  left: .2em;
  line-height: 1em;
  z-index: 0;
  @include width-below ($medium-viewport){
    left: 0;
  }
}

.about-image{
  display: inline-block;
  width: 38%;
  @include width-below ($medium-small-viewport){
    width: 100%;
    margin-top: 2em;
  }
}

.contact-section{
  background: black;
  color: white;
  padding: 8em 1em 2em;
  @include width-below ($medium-small-viewport){
    padding: 5em 1em 0;
  }
}

.contact-list{
  max-width: 55em;
  margin: 0 auto;
  padding-left: 3em;
  & > li{
    display: inline-block;
    width: 49%;
    margin-bottom: 4em;
  }
  @include width-below ($medium-viewport){
    & > li{
      text-align: center;
    }
  }
  @include width-below ($medium-small-viewport){
    padding-left:0;
    & > li{
      width: 100%;
    }
  }
}

.contact-header{
  display: inline-block;
  vertical-align: top;
  padding-right: 2em;
  min-width: 9.25em;
  text-align: right;
  @include width-below ($medium-viewport){
    display: block;
    padding-right: 0;
    min-width: auto;
    text-align: center;
    margin-bottom: .5em;
  }
}

.contact-details{
  display: inline-block;
}

.newsletter-section{
  padding: 6em 1em 8em;
  background: black;
  color: white;
  margin: 0 auto;
  text-align: center;
}

.newsletter-title{
  margin-bottom: 1.5em;
  display: block;
}

.large-title{
  font-family: 'Abril Fatface', cursive;
  font-size: 3em;
  line-height: 1.1em;
  vertical-align: middle;
}

.medium-title{
  font-size: 1.5em;
  display: block;
}

.small-title{
  display: block;
  line-height: 1.7em;
}

.small-link{
  color: $pink;
  text-decoration: none;
  display: block;
  margin-top: 1em;
  @include fast-transition;
    &:hover{
      &:after{
        transform-origin:  0% 50%;
        transform: scaleX(1);
      }
    }
    &:after{
    display:block;
    content: '';
    border-bottom: solid 2px $pink;  
    transform: scaleX(0);  
    transition: transform .2s ease-in-out;
  }
}

.cta-link{
  color: $pink;
  text-decoration: none;
  font-size: 1.5em;
  position: relative;
  margin-right: 2em;
  &:after{
    content: $icon-arrow;
    font-family: icomoon;
    font-size: .6em;
    padding-left: 1em;
    position: absolute;
    top: .5em;
    right: -3em;
    @include fast-transition;
  }
  &:hover{
    &:after{
      right: -3.5em;
    }
  }
}

.vertical-header{
  transform: rotate(270deg);
	transform-origin: left bottom 0;
	position: absolute;
	left: 2em;
	font-size: 1.2em;
	letter-spacing: .1em;
	font-weight: 100;
	&.black{
  	color: black;
  	top: 5.5em;
	}
	&.events{
  	top: 12em;
	}
	&.contact{
  	top: 6.5em;
	}
}

.text-field{
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.125em;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAP0lEQVQoU2NkQAP/////z8jIyIgujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J+A2YpPAJkaUiSCNAA8KKAUC14DBAAAAAElFTkSuQmCC
    );
  background-repeat: repeat-x;
  background-position: center bottom;
  padding: .5em 1em 1em;
  display: block;
  text-align: center;
  margin: 0 auto 3em;
  width: 20em;
  color: white;
  font-family: 'Raleway', sans-serif;
  &:focus{
    outline: none;
  }
}

.field-wrapper{
  position: relative;
}

.field-label{
  position: absolute;
  right: 0; left: 0;
  top:.5em;
  @include fast-transition;
  .is-active, .is-completed > &{
    top: -1.5em;
    font-size: .825em;
    opacity: .4;
  }
}

:focus{
  outline: 1px solid $pink;
  outline-offset: 2px;
}