.instafeed-section{
  padding-top: $long;
  z-index: 2000;
  padding-bottom: 10em;
  @include footer-margin;
  @include width-below ($medium-small-width){
      padding-bottom: 6em;
    }
}

#instafeed{
	margin: 0 -.5em;
  text-align: center;
	& li{
		padding: .5em;
		display: inline-block;
		width: 33.3%;
		overflow: hidden;
		box-sizing: border-box;
		@include width-below ($medium-width){
  		width: 50%;
		}
		@include width-below ($small-width){
  		width: 100%;
		}
	}
}

.instagram-link{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: block;
	border: 1px solid $lightest-gray;
	&:hover{
    cursor: url(../images/cross.png), pointer;
  }
}
.instagram-image{
  @include slow-transition-on-property (transform);
  margin-bottom: -4px;
}
.instagram-link{
  &:hover{
    & > .instagram-image{
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
  }
}