$dark-gray: #222;
$lightest-gray: #F4F5F7;
$light-gray: #C4C4C4;

$blue: #A2BFFF;
$pink: #ffdecb;
$teal: #b8e5dc;

$red: #FF3C00;

$chefs-garden: #dfe668;
$csu-alumni: #991666;
$thistle: #C6A5C0;
$makers: #C4C9CF;
$cle-city-council: #B0C1D5;


@mixin background-theme{
  .blue &{
    background: $blue;
  }
  .pink &{
    background: $pink;
  }
  .teal &{
    background: $teal;
  }
  .chefs-garden &{
    background: $chefs-garden;
  }
  .csu-alumni &{
    background: $csu-alumni;
  }
  .thistle &{
    background: $thistle;
  }
  .makers &{
    background: $makers;
  }
  .cle-city-council &{
    background: $cle-city-council;
  }
}

@mixin text-theme{
  .blue &{
    color: $blue;
  }
  .pink &{
    color: $pink;
  }
  .teal &{
    color: $teal;
  }
  .chefs-garden &{
    color: $chefs-garden;
  }
  .csu-alumni &{
    color: $csu-alumni;
  }
  .thistle &{
    color: $thistle;
  }
  .makers &{
    color: $makers;
  }
  .cle-city-council &{
    color: $cle-city-council;
  }
}

@mixin border-theme{
  .blue &{
    border-color: $blue;
  }
  .pink &{
    border-color: $pink;
  }
  .teal &{
    border-color: $teal;
  }
  .chefs-garden &{
    border-color: $chefs-garden;
  }
  .csu-alumni &{
    border-color: $csu-alumni;
  }
  .thistle &{
    border-color: $thistle;
  }
  .makers &{
    border-color: $makers;
  }
  .cle-city-council &{
    border-color: $cle-city-council;
  }
}