@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2aggr5');
  src:  url('../fonts/icomoon.eot?2aggr5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2aggr5') format('truetype'),
    url('../fonts/icomoon.woff?2aggr5') format('woff'),
    url('../fonts/icomoon.svg?2aggr5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

$icon-listen: "\e900";

$icon-read: "\e901";

$icon-square: "\e902";

$icon-technology: "\e903";

$icon-back: "\e904";

$icon-next: "\e905";

$icon-cancel: "\e906";

@mixin open-sans{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

@mixin open-sans-bold{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

@mixin open-sans-light{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

@mixin playfair{
  font-family: 'Playfair Display', serif;
}

@mixin playfair-bold{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}