$length-scale-base: 1em;
$length-scale-ratio: 2;

$shortest: get-scaled-length-at( -2 );
$shorter: get-scaled-length-at( -1 );
$short: get-scaled-length-at( 0 );
$long: get-scaled-length-at( 1 );
$longer: get-scaled-length-at( 2 );
$longest: get-scaled-length-at( 3 );

@mixin small-uppercase-treatment{
  text-transform: uppercase;
  @include open-sans;
  font-size: .7em;
  letter-spacing: 3px;
  line-height: 1.3em;
  display: block;
  @include width-below ($medium-small-width){
    letter-spacing: 2px;
  }
}

.error-text{
  font-size: 3.3em;
  @include open-sans-bold;
  line-height: 1.3em;
  display: block;
  margin-bottom: 1em;
}

.small-message{
  & > a{
    position: relative;
    text-decoration: none;
    @include playfair-bold;
    color: $dark-gray;
      &:hover{
    &:after{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  &:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: 0px;
    left: 0;
    z-index: -1;
    @include background-theme;
    mix-blend-mode: multiply;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }
    }
}

.medium-introduction-text{
  font-size: 1.125em;
  line-height: 1.7em;
  display: block;
  max-width: $medium-width;
  font-weight: 400;
  & > a{
    font-weight: bold;
    text-decoration: none;
    color: $dark-gray;
    position: relative;
    display: inline-block;
    &:hover{
      &:after{
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 6px;
      bottom: 5px;
      left: 0;
      z-index: -1;
      @include background-theme;
      mix-blend-mode: multiply;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
    }
  }
  & + .medium-introduction-text{
    margin-top: $shorter;
  }
}